:root {
  --light-primary: hsl(193, 38%, 86%);
  --light-secondary: hsl(217, 19%, 38%);
  --dark-primary: hsl(218, 23%, 16%);
  --dark-secondary: hsl(217, 19%, 24%);
  --green-primary: hsl(150, 100%, 66%);
  --green-secondary: hsl(150, 100%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  /* border: 2px solid red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-primary);
  background-color: var(--dark-primary);
  height: 90vh;
  font-family: "Manrope", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
}

.advice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--dark-secondary);
  border-radius: 8px;
  padding-top: 10%;
  padding-bottom: 10%;
}

@media screen and (min-width: 375px) {
  .advice-container {
    padding-top: 5%;
    padding-bottom: 8%;
  }
}

.advice-number,
.advice-text,
.advice-delimiter {
  padding: 10px 20px;
}

@media screen and (min-width: 375px) {
  .advice-number,
  .advice-text,
  .advice-delimiter {
    padding: 10px 30px;
  }
}

.advice-number {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  color: var(--green-primary);
}

.advice-text {
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .advice-text {
    font-size: 1.2rem;
  }
}

.advice-delimiter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-delimiter hr {
  width: 45%;
  height: 2px;
  border: none;
  background-color: var(--light-primary);
  opacity: 50%;
}

.advice-delimiter svg {
  fill: var(--light-primary);
}

.advice-random-dice button {
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--green-primary);
  border: 2px solid var(--green-primary);
  cursor: pointer;
}

.advice-random-dice button svg {
  fill: var(--dark-primary);
}

.advice-random-dice:hover button svg {
  transform: rotate(90deg);
}
