:root {
  --light-primary: hsl(193, 38%, 86%);
  --light-secondary: hsl(217, 19%, 38%);
  --dark-primary: hsl(218, 23%, 16%);
  --dark-secondary: hsl(217, 19%, 24%);
  --green-primary: hsl(150, 100%, 66%);
  --green-secondary: hsl(150, 100%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  /* border: 2px solid red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-primary);
  background-color: var(--dark-primary);
  font-family: "Manrope", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.advice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 400px;
  width: 90%;
  background-color: var(--dark-secondary);
  border-radius: 8px;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media screen and (min-width: 375px) {
  .advice-container {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

.advice-number,
.advice-text,
.advice-delimiter {
  padding: 10px 20px;
}

@media screen and (min-width: 375px) {
  .advice-number,
  .advice-text,
  .advice-delimiter {
    padding: 10px 30px;
  }
}

.advice-number {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  color: var(--green-primary);
}

.advice-text {
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .advice-text {
    font-size: 1.2rem;
  }
}

.advice-delimiter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-delimiter hr {
  width: 45%;
  height: 2px;
  border: none;
  background-color: var(--light-primary);
  opacity: 50%;
}

.advice-delimiter svg {
  fill: var(--light-primary);
}

.advice-random-dice button {
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--green-primary);
  border: 2px solid var(--green-primary);
  cursor: pointer;
}

.advice-random-dice button svg {
  fill: var(--dark-primary);
}

.advice-random-dice:hover button svg {
  transform: rotate(90deg);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
